$color-primary: orange;
$color-secondary: gray;
$color-teritary: royalblue;
$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;
@function fontSize($font: 10px) {
  @return $font * 2;
}

%button-format {
  padding: 10px 20px;
  border-radius: 15px;
  color: black;
}
.logo {
  font-size: 70px;
  color: $color-primary;
  width: 110px;
  border: 3px solid $color-primary;
  border-radius: 50%;
  @include flexLayout;
}
.main-name {
  font-family: $font2;
  font-size: 40px;
  color: #fff;
  @include textStyles;
}
.sub-name {
  font-family: $font2;
  font-size: 15px;
  color: #fff;
  text-align: center;
  @include textStyles;
}
.main-heading {
  font-family: $font1;
  font-size: 80px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 10px;
}
.sub-heading {
  font-family: $font2;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
.nav {
  width: 100%;
  height: 14vh;
  background-color: #3944f7;
  font-size: x-large;
  color: white;
  text-align: center;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
  background: url(../images/content.jpg) center no-repeat;
  background-size: cover;
}
.btn {
  width: 170px;
  height: auto;
  padding: 15px;
  font-family: $font2;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
  background-color: black;
  border: 1px solid $color-primary;
  outline: none;
  cursor: pointer;
}

// .sub-button {
//   @extend %button-format;
//   background-color: lightpink;
// }
// .tol-button {
//   @extend %button-format;
//   background-color: yellowgreen;
// }
.section {
  width: 100%;
  height: 40vh;
  background-color: #ef5354;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 10px 5px;
}

.one {
  background-color: #e03b8b;
  background: url(../images/starters.jpg) center no-repeat;
  background-size: cover;
}
.two {
  background: url(../images/maincourse.jpg) center no-repeat;
  background-size: cover;
}
.three {
  background: url(../images/drinks.jpg) center no-repeat;
  background-size: cover;
}
.four {
  background: url(../images/desserts.jpg) center no-repeat;
  background-size: cover;
}

.footer-content {
  font-family: $font3;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
  background: #ccc;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  ul {
    list-style: none;
    li {
      padding: 5px 10px;
    }
  }
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: fontSize();
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
  a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease 0.25s;
    :before {
      content: "·";
      font-size: 20px;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
  a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all 0.25s;
    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
    }
  }
}
